version: '3.8'

services:
  ros2-humble:
    build:
      context: .
      dockerfile: Dockerfile
    image: ros2-humble:latest
    container_name: ros2-humble-container
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/home/ros/.Xauthority:rw
      - ../:/workspace:rw
    user: "1000:1000"
    devices:
      - /dev/dri:/dev/dri
    runtime: nvidia
    stdin_open: true
    tty: true
    command: /bin/bash
